---
import FeedbackForm from '../components/FeedbackForm.astro';
import Layout from '../components/Layout.astro';
---

<Layout title="Astro Toolbox">
  <div class="container">
    <FeedbackForm/>
  </div>
</Layout>
